body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-trispace: Trispace;
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #cecece;
  --color-black: #000;
  --color-darkorange-100: #ff8d23;
  --color-linen: #ffefe1;
}
